/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */

.slider{
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
    /* background:rgba(223, 219, 219, 0.733); */
}

.slider .images img{ 
    border-radius: 5px;
    box-shadow: 3px 3px 10px 8px #ccc;
} 

.prev,
.next{
    font-size: 20px;
    background: rgba(0,0,0, .6);
    color:#fff;
    width: 40px;
    height: 40px;
    /* transform: translateY(-50%); */
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    transition: background .4s;
    cursor: pointer;

}

.prev{
    left: 26%;
}

.next{
    right: 26%;
}

.prev:hover,
.next:hover{
    background: rgb(68, 64, 64);
}


/* NAV */

.nav{
    position: absolute;
    bottom: 30px;
    background: rgba(0,0,0, .6);
    color: rgb(175, 173, 173);
    padding: 20px;
    border-radius: 15px;
}
.nav i {
    padding: 0 5px;
    cursor: pointer;
}

.nav i:hover{
    color:#fff;
}

.active{
    color:aqua;
}